---
layout: default
title: 李攀的博客
---

<div class="home">

  <h1 class="page-heading">文章列表</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
	<nav id="pagination">
    		{% if paginator.previous_page %}
      			{% if paginator.previous_page == 1 %}
      				<a href="/" title="上一页">&laquo; 上一页</a>
      			{% else %}
      				<a href="/page{{ paginator.previous_page }}/" title="上一页">&laquo; 上一页</a>
      			{% endif %}
    		{% endif %}
    
    		{% if paginator.next_page %} 
    			<a href="/page{{ paginator.next_page }}/" title="下一页">下一页 &raquo;</a>
    		{% endif %} 
  	</nav>

</div>
